$aud_blue: #adbccf;
$aud_darkblue: #0c2c53;

$aud_orange: #f0a900;
$aud_darkorange: #f07700;

$aud_green: #95b314;
$aud_darkgreen: #789010;

$aud_lightestgrey: #f0f0f0;
$aud_lightgrey: #ccc;
$aud_grey: #7f7e7e;
$aud_darkgrey: #3a3a3a;

$aud_black: #000;
$aud_white: #fff;

//Essentials
$aud_red: #f00;
$c_error: $aud_red;

$text-color-main: $aud_black;
$h3-size: 15px;
$h2-size: 20px;

$error_color: $aud_red;
$error_font-weight: bold;
