$factor: 5px;
$aud-border-radius: 5px;

$link-color: #265da5;
$link-hover-color: #265da5;
$link-hover-decoration: none;
$text-color: $aud_black;
$font-family-base: Arial, "Helvetica Neue", Helvetica, sans-serif;
$state-warning-text: $aud_darkorange;
$body-bg: $aud_lightestgrey;
$well-bg: $aud_white;
$navbar-height: initial;
